In [1]:
!pip install Django

Requirement already satisfied: Django in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (4.1.3)
Requirement already satisfied: sqlparse>=0.2.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from Django) (0.4.3)
Requirement already satisfied: asgiref<4,>=3.5.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from Django) (3.5.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: pip install --upgrade pip

In [65]:
!pip install numpy

Requirement already satisfied: numpy in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (1.24.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import os
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "e_library.settings")

'e_library.settings'

In [3]:
import django
django.setup()

In [4]:
from books.models import Pdf_Info

In [5]:
!pip install pandas

Requirement already satisfied: pandas in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (2.0.0)
Requirement already satisfied: numpy>=1.20.3 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: pip install --upgrade pip

In [66]:
from books.models import Pdf_Info
import pandas as pd
import numpy as np

In [67]:
from asgiref.sync import sync_to_async
from books.models import Review

@sync_to_async
def get_books():
    return list(Pdf_Info.objects.all().values())

books = await get_books()
df_books = pd.DataFrame(books)
df_books.head()
# books = df_books.rename(columns={'id':'book_id'}, inplace = True)
# books

,id,genre_id,title,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,1,1,Database Management System(DBMS),Dr. Rajin Chopra,qomxczekkyaob,#######,book_image/1.jpeg,Database Design for Mere Mortals is the perfec...,Database,####,book/d1.pdf,False
1,2,2,Database Management System,"Safa Hamdare, Bhavesh Pandya",zgsnuvjvzqipl,########,book_image/2.jpg,Database Design for Mere Mortals is the perfec...,fwafa,####,book/d2.pdf,False
2,3,1,C Programming,R. Chopra,bfigpimwiysfl,######,book_image/p1.jpeg,C language is a system programming language be...,c-programming,####,book/c1.pdf,False
3,4,1,C Programming Language,Brian W Jernighan,zkcpeuhgvzhbe,#########,book_image/p2.jpeg,C language is a system programming language be...,Programming,####,book/c2.pdf,False
4,5,3,Computer Networking,#####,tjmtdxzribafj,#######,book_image/n1.jpeg,"Networking, also known as computer networking,...",Networking,####,book/n1.pdf,False

In [13]:
from asgiref.sync import sync_to_async
from auth_users.models import Profile

@sync_to_async
def get_users():
    return list(Profile.objects.all().values())

users = await get_users()
df_users = pd.DataFrame(users)
df_users.head()

   id  user_id       avatar city zone contact_no tole bio
0   1        1  default.png
1   2        2  default.png
2   3        3  default.png
3   4        4  default.png
4   5        5  default.png

In [64]:
@sync_to_async
def get_reviews():
    return list(Review.objects.all().values())

reviews = await get_reviews()
df_reviews = pd.DataFrame(reviews)
df_reviews.head(50)

,id,book_id,rating,created_by_id,content,created_at
0,1,1,5,1,saaa,2023-04-16 15:08:16.837213+00:00
1,2,3,5,1,Excellent,2023-04-16 15:46:50.493329+00:00
2,3,4,3,1,not bad\r\n,2023-04-16 15:50:05.673749+00:00
3,4,5,4,1,Better than expected!,2023-04-16 15:54:22.939373+00:00
4,5,2,5,1,ddaa,2023-04-17 04:19:49.905246+00:00
5,6,1,2,2,poor description\r\n,2023-04-17 04:32:06.990374+00:00
6,7,3,5,2,Excellent,2023-04-17 04:57:16.632493+00:00
7,8,4,1,2,poor,2023-04-17 04:57:50.385105+00:00
8,9,5,3,2,0afoa,2023-04-17 04:58:09.303399+00:00
9,10,9,1,2,ahsi,2023-04-17 04:58:25.633217+00:00
10,11,17,4,2,afawgag,2023-04-17 04:58:57.113834+00:00
11,12,34,4,2,agagaw,2023-04-17 04:59:33.541425+00:00
12,13,20,5,2,agag,2023-04-17 04:59:43.252854+00:00
13,14,33,5,2,agagawga,2023-04-17 04:59:59.252516+00:00
14,15,29,2,2,agaga,2023-04-17 05:00:12.367665+00:00
15,16,28,4,2,agaga,2023-04-17 05:00:24.593155+00:00
16,17,30,3,2,agaa,2023-04-17 05:00:39.640992+00:00
17,18,16,4,2,agagag,2023-04-17 05:00:53.860694+00:00
18,19,1,4,3,faag,2023-04-17 05:04:01.984959+00:00
19,20,2,4,3,saawav,2023-04-17 05:04:23.422126+00:00
20,21,5,2,3,agaga,2023-04-17 05:04:37.311537+00:00
21,22,4,4,3,aga,2023-04-17 05:04:47.005260+00:00
22,23,9,4,3,agaga,2023-04-17 05:04:58.619585+00:00
23,24,11,3,3,aga,2023-04-17 05:05:06.977169+00:00
24,25,25,3,3,agaga,2023-04-17 05:05:18.994562+00:00
25,26,13,2,3,agaga,2023-04-17 05:05:36.869488+00:00
26,27,18,4,3,wfaewga,2023-04-17 05:05:50.741779+00:00
27,28,26,3,3,agaga,2023-04-17 05:06:02.820312+00:00
28,29,34,3,3,agaga,2023-04-17 05:06:10.704920+00:00
29,30,27,4,3,agaga,2023-04-17 05:06:21.394564+00:00
30,31,30,3,3,agaga,2023-04-17 05:06:30.949561+00:00
31,32,22,3,3,agagaw,2023-04-17 05:06:51.873620+00:00
32,33,4,3,4,agaga\r\n,2023-04-17 05:07:18.435732+00:00
33,34,5,3,4,asgaga,2023-04-17 05:07:30.411706+00:00
34,35,9,3,4,asgagag,2023-04-17 05:07:38.926540+00:00
35,36,14,3,4,agaga,2023-04-17 05:07:48.263573+00:00
36,37,13,3,4,agag,2023-04-17 05:07:56.186314+00:00
37,38,20,3,4,agaga,2023-04-17 05:08:02.706407+00:00
38,39,21,4,4,agawa,2023-04-17 05:08:14.904294+00:00
39,40,19,4,4,agagaga,2023-04-17 05:08:24.333544+00:00
40,41,32,4,4,agaa,2023-04-17 05:08:44.957123+00:00
41,42,33,4,4,asgaga,2023-04-17 05:08:54.152962+00:00
42,43,6,3,4,sdvawvaw,2023-04-17 05:09:29.519962+00:00
43,44,26,4,4,awfa,2023-04-17 05:09:40.539305+00:00
44,45,28,2,4,agawg,2023-04-17 05:09:51.880603+00:00
45,46,23,5,4,agawg,2023-04-17 05:10:01.655186+00:00
46,47,18,2,4,sagag,2023-04-17 05:10:14.499706+00:00
47,48,31,5,4,asgfawgwa,2023-04-17 05:10:24.275459+00:00
48,49,16,3,4,afaa,2023-04-17 05:10:44.324133+00:00
49,50,3,3,7,wafa,2023-04-17 05:12:37.229844+00:00

In [14]:
#To check rows and columns in the database
print(df_books.shape)
print(df_reviews.shape)
print(df_users.shape)

(34, 12)
(62, 6)
(7, 8)

In [ ]:
# TO Check Missing Values
df_books.isnull().sum()

In [15]:
df_users.isnull().sum()

id            0
user_id       0
avatar        0
city          0
zone          0
contact_no    0
tole          0
bio           0
dtype: int64

In [11]:
# df_books.duplicated().sum

In [52]:
df_reviews.duplicated().sum()

0

In [53]:
df_users.duplicated().sum()

0

In [54]:
## Popularity based Recommendation System

In [58]:
ratings_with_name = df_reviews.merge(df_books, on = 'id')

In [36]:

num_rating_df = ratings_with_name.groupby('title')['rating'].count().reset_index()
num_rating_df.rename(columns={'rating':'num_ratings'}, inplace = True)
num_rating_df

                                         title  num_ratings
0              A Text Book of Java Programming            1
1               A Textbook of Computer Network            1
2              A Textbook of Computer Networks            1
3       An Essential Guide to Computer Network            1
4                             Black Hat Python            1
5                                C Programming            1
6     C Programming (Absolute Beginners Guide)            1
7                       C Programming Language            1
8                   C Programming With Arduion            1
9   Computer Fundamentals and Programming in C            1
10                            Computer Network            1
11          Computer Network( Beginners Guide)            1
12                         Computer Networking            2
13                           Computer Networks            5
14                        Computer Programming            1
15    Data Communication and Computer Networks            1
16                  Database Management System            6
17            Database Management System(DBMS)            1
18                  Database-Management-System            1
19                  Guide to Computer Security            1
20  Introduction to Database Management System            1
21                            Java Programming            1
22                   Practical C++ Programming            1
23                      Robot Programming(ROS)            1

In [37]:
#Average Rating
avg_rating_df = ratings_with_name.groupby('title')['rating'].mean().reset_index()
avg_rating_df.rename(columns={'rating':'avg_rating'}, inplace = True)
avg_rating_df

                                         title  avg_rating
0              A Text Book of Java Programming    3.000000
1               A Textbook of Computer Network    2.000000
2              A Textbook of Computer Networks    4.000000
3       An Essential Guide to Computer Network    5.000000
4                             Black Hat Python    4.000000
5                                C Programming    3.000000
6     C Programming (Absolute Beginners Guide)    3.000000
7                       C Programming Language    4.000000
8                   C Programming With Arduion    4.000000
9   Computer Fundamentals and Programming in C    3.000000
10                            Computer Network    4.000000
11          Computer Network( Beginners Guide)    3.000000
12                         Computer Networking    3.500000
13                           Computer Networks    3.600000
14                        Computer Programming    1.000000
15    Data Communication and Computer Networks    4.000000
16                  Database Management System    3.666667
17            Database Management System(DBMS)    5.000000
18                  Database-Management-System    2.000000
19                  Guide to Computer Security    2.000000
20  Introduction to Database Management System    5.000000
21                            Java Programming    3.000000
22                   Practical C++ Programming    3.000000
23                      Robot Programming(ROS)    3.000000

In [29]:
#merge average rating and number rating
popular_df = num_rating_df.merge(avg_rating_df, on = 'title')
popular_df

                                         title  num_ratings  avg_rating
0              A Text Book of Java Programming            1    3.000000
1               A Textbook of Computer Network            1    2.000000
2              A Textbook of Computer Networks            1    4.000000
3       An Essential Guide to Computer Network            1    5.000000
4                             Black Hat Python            1    4.000000
5                                C Programming            1    3.000000
6     C Programming (Absolute Beginners Guide)            1    3.000000
7                       C Programming Language            1    4.000000
8                   C Programming With Arduion            1    4.000000
9   Computer Fundamentals and Programming in C            1    3.000000
10                            Computer Network            1    4.000000
11          Computer Network( Beginners Guide)            1    3.000000
12                         Computer Networking            2    3.500000
13                           Computer Networks            5    3.600000
14                        Computer Programming            1    1.000000
15    Data Communication and Computer Networks            1    4.000000
16                  Database Management System            6    3.666667
17            Database Management System(DBMS)            1    5.000000
18                  Database-Management-System            1    2.000000
19                  Guide to Computer Security            1    2.000000
20  Introduction to Database Management System            1    5.000000
21                            Java Programming            1    3.000000
22                   Practical C++ Programming            1    3.000000
23                      Robot Programming(ROS)            1    3.000000

In [45]:
#shows popular book whose num rating>3
popular_df = popular_df[popular_df['num_ratings'] >=2].sort_values('avg_rating',ascending =False)
popular_df

,title,author,image,num_ratings,avg_rating
0,Database Management System,"Safa Hamdare, Bhavesh Pandya",book_image/2.jpg,6,3.666667
6,Computer Networks,MR. Bhanumathi,book_image/n5.jpeg,5,3.600000
11,Computer Networking,#####,book_image/n1.jpeg,2,3.500000

In [34]:
popular_df.merge(df_books, on='title')

,title,num_ratings,avg_rating,id,genre_id,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,Database Management System,6,3.666667,2,2,"Safa Hamdare, Bhavesh Pandya",zgsnuvjvzqipl,########,book_image/2.jpg,Database Design for Mere Mortals is the perfec...,fwafa,####,book/d2.pdf,False
1,Database Management System,6,3.666667,7,2,"Arihant Khicha, Neti Kapoor",akzznmprorqnj,####,book_image/5.jpg,Database Design for Mere Mortals is the perfec...,hrhrh,####,book/d5.pdf,False
2,Database Management System,6,3.666667,9,2,"Dr. R. Manjula Devi, V. Sicaranjani, M. Sangeetha",idrucwtqilxgw,#######,book_image/6.jpg,Database Design for Mere Mortals is the perfec...,cyz3zpn,####,book/d6.pdf,False
3,Database Management System,6,3.666667,10,2,P. S. Gill,gitprtrleiedm,######,book_image/7.jpg,Database Design for Mere Mortals is the perfec...,DJxzMQ6,####,book/d7.pdf,False
4,Database Management System,6,3.666667,11,2,irdva Chav,airzvwjnlnpfy,########,book_image/8.jpg,Database Design for Mere Mortals is the perfec...,arHMubq,###,book/d8.pdf,False
5,Database Management System,6,3.666667,12,2,"Bhavesh Pandya, Safa Hamdare, Asim Kumar Sen",9CE5m9gdqbujc,#####,book_image/9.jpg,Database Design for Mere Mortals is the perfec...,WakHLwy,###,book/9.jpg,False
6,Computer Networks,5,3.600000,17,1,MR. Bhanumathi,L766tML0axBkR,#######,book_image/n5.jpeg,"Networking, also known as computer networking,...",4YSWb2B,###,book/n5.pdf,False
7,Computer Networks,5,3.600000,19,3,Jhon Methu/ Willam Disuja,TmCjgLkerptQZ,#######,book_image/n7.jpeg,"Networking, also known as computer networking,...",yx3dJ57,####,book/n7.pdf,False
8,Computer Networks,5,3.600000,20,3,"Kurose, Ross",eZu6LzRSm7IEx,#######,book_image/n8.jpeg,"Networking, also known as computer networking,...",pSf7Y62,####,book/n8.pdf,False
9,Computer Networks,5,3.600000,23,3,WIley,EqhpMmtgNR5Tq,#########,book_image/n11.jpeg,"Networking, also known as computer networking,...",4GwE7kE,###,book/n11.pdf,False
10,Computer Networks,5,3.600000,24,3,Mayank Dave,WXp7lVMaV9e2o,#######,book_image/n12.jpeg,"Networking, also known as computer networking,...",ha2MDiz,####,book/n12.pdf,False
11,Computer Networking,2,3.500000,5,3,#####,tjmtdxzribafj,#######,book_image/n1.jpeg,"Networking, also known as computer networking,...",Networking,####,book/n1.pdf,False
12,Computer Networking,2,3.500000,21,3,MR. Bhanumathi,pAMxly8oP3IhE,#######,book_image/n9.jpeg,"Networking, also known as computer networking,...",fh6LXSd,###,book/n9.pdf,False

In [41]:
popular_df = popular_df.merge(df_books, on='title').drop_duplicates('title')[['title', 'author', 'image', 'num_ratings', 'avg_rating']]

In [42]:
popular_df

,title,author,image,num_ratings,avg_rating
0,Database Management System,"Safa Hamdare, Bhavesh Pandya",book_image/2.jpg,6,3.666667
6,Computer Networks,MR. Bhanumathi,book_image/n5.jpeg,5,3.600000
11,Computer Networking,#####,book_image/n1.jpeg,2,3.500000

# collaborative filtering

In [46]:
ratings_with_name

,id,book_id,rating,created_by_id,content,created_at,genre_id,title,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,1,1,5,1,saaa,2023-04-16 15:08:16.837213+00:00,1,Database Management System(DBMS),Dr. Rajin Chopra,qomxczekkyaob,#######,book_image/1.jpeg,Database Design for Mere Mortals is the perfec...,Database,####,book/d1.pdf,False
1,2,3,5,1,Excellent,2023-04-16 15:46:50.493329+00:00,2,Database Management System,"Safa Hamdare, Bhavesh Pandya",zgsnuvjvzqipl,########,book_image/2.jpg,Database Design for Mere Mortals is the perfec...,fwafa,####,book/d2.pdf,False
2,3,4,3,1,not bad\r\n,2023-04-16 15:50:05.673749+00:00,1,C Programming,R. Chopra,bfigpimwiysfl,######,book_image/p1.jpeg,C language is a system programming language be...,c-programming,####,book/c1.pdf,False
3,4,5,4,1,Better than expected!,2023-04-16 15:54:22.939373+00:00,1,C Programming Language,Brian W Jernighan,zkcpeuhgvzhbe,#########,book_image/p2.jpeg,C language is a system programming language be...,Programming,####,book/c2.pdf,False
4,5,2,5,1,ddaa,2023-04-17 04:19:49.905246+00:00,3,Computer Networking,#####,tjmtdxzribafj,#######,book_image/n1.jpeg,"Networking, also known as computer networking,...",Networking,####,book/n1.pdf,False
5,6,1,2,2,poor description\r\n,2023-04-17 04:32:06.990374+00:00,2,Database-Management-System,"Ramon A Mata-Toledo, Pauline K Cushman",podqpflxqotea,#######,book_image/3.jpg,Database Design for Mere Mortals is the perfec...,lkde,####,book/d3.pdf,False
6,7,3,5,2,Excellent,2023-04-17 04:57:16.632493+00:00,2,Database Management System,"Arihant Khicha, Neti Kapoor",akzznmprorqnj,####,book_image/5.jpg,Database Design for Mere Mortals is the perfec...,hrhrh,####,book/d5.pdf,False
7,8,4,1,2,poor,2023-04-17 04:57:50.385105+00:00,1,Computer Programming,Steve Tutor,cwctmtmcmpavy,######,book_image/p3.jpeg,C language is a system programming language be...,Programming,###,book/c3.pdf,False
8,9,5,3,2,0afoa,2023-04-17 04:58:09.303399+00:00,2,Database Management System,"Dr. R. Manjula Devi, V. Sicaranjani, M. Sangeetha",idrucwtqilxgw,#######,book_image/6.jpg,Database Design for Mere Mortals is the perfec...,cyz3zpn,####,book/d6.pdf,False
9,10,9,1,2,ahsi,2023-04-17 04:58:25.633217+00:00,2,Database Management System,P. S. Gill,gitprtrleiedm,######,book_image/7.jpg,Database Design for Mere Mortals is the perfec...,DJxzMQ6,####,book/d7.pdf,False
10,11,17,4,2,afawgag,2023-04-17 04:58:57.113834+00:00,2,Database Management System,irdva Chav,airzvwjnlnpfy,########,book_image/8.jpg,Database Design for Mere Mortals is the perfec...,arHMubq,###,book/d8.pdf,False
11,12,34,4,2,agagaw,2023-04-17 04:59:33.541425+00:00,2,Database Management System,"Bhavesh Pandya, Safa Hamdare, Asim Kumar Sen",9CE5m9gdqbujc,#####,book_image/9.jpg,Database Design for Mere Mortals is the perfec...,WakHLwy,###,book/9.jpg,False
12,13,20,5,2,agag,2023-04-17 04:59:43.252854+00:00,2,Introduction to Database Management System,Atul Kahate,iiub0Yt2VlQZ8,####,book_image/10.jpg,Database Design for Mere Mortals is the perfec...,uxy2DaQ,###,book/d10.pdf,False
13,14,33,5,2,agagawga,2023-04-17 04:59:59.252516+00:00,3,An Essential Guide to Computer Network,"R. Pandye, C. Arora",LrnhkfgxBB47O,#######,book_image/n2.jpeg,"Networking, also known as computer networking,...",fWNNry3,####,book/n2.pdf,False
14,15,29,2,2,agaga,2023-04-17 05:00:12.367665+00:00,1,A Textbook of Computer Network,Sanjay Sharma,wJA2RiZViJh4S,#######,book_image/n3.jpeg,"Networking, also known as computer networking,...",ahmVLxw,###,book/n3.pdf,False
15,16,28,4,2,agaga,2023-04-17 05:00:24.593155+00:00,1,A Textbook of Computer Networks,Sanjay Sharma,GjpNQxspii7Dq,#######,book_image/n4.jpeg,"Networking, also known as computer networking,...",L89GDkd,####,book/n4.pdf,False
16,17,30,3,2,agaa,2023-04-17 05:00:39.640992+00:00,1,Computer Networks,MR. Bhanumathi,L766tML0axBkR,#######,book_image/n5.jpeg,"Networking, also known as computer networking,...",4YSWb2B,###,book/n5.pdf,False
17,18,16,4,2,agagag,2023-04-17 05:00:53.860694+00:00,3,Computer Network,"Kurose, Ross",NIEuh8ijQFYHt,######,book_image/n6.jpeg,"Networking, also known as computer networking,...",ewKAg2R,###,book/n6.pdf,False
18,19,1,4,3,faag,2023-04-17 05:04:01.984959+00:00,3,Computer Networks,Jhon Methu/ Willam Disuja,TmCjgLkerptQZ,#######,book_image/n7.jpeg,"Networking, also known as computer networking,...",yx3dJ57,####,book/n7.pdf,False
19,20,2,4,3,saawav,2023-04-17 05:04:23.422126+00:00,3,Computer Networks,"Kurose, Ross",eZu6LzRSm7IEx,#######,book_image/n8.jpeg,"Networking, also known as computer networking,...",pSf7Y62,####,book/n8.pdf,False
20,21,5,2,3,agaga,2023-04-17 05:04:37.311537+00:00,3,Computer Networking,MR. Bhanumathi,pAMxly8oP3IhE,#######,book_image/n9.jpeg,"Networking, also known as computer networking,...",fh6LXSd,###,book/n9.pdf,False
21,22,4,4,3,aga,2023-04-17 05:04:47.005260+00:00,3,Data Communication and Computer Networks,Grege Perry and Dean Miller,Vz943h5ug7Rj5,#######,book_image/n10.jpeg,"Networking, also known as computer networking,...",mVSiV6B,###,book/d10_e3WcSHh.pdf,False
22,23,9,4,3,agaga,2023-04-17 05:04:58.619585+00:00,3,Computer Networks,WIley,EqhpMmtgNR5Tq,#########,book_image/n11.jpeg,"Networking, also known as computer networking,...",4GwE7kE,###,book/n11.pdf,False
23,24,11,3,3,aga,2023-04-17 05:05:06.977169+00:00,3,Computer Networks,Mayank Dave,WXp7lVMaV9e2o,#######,book_image/n12.jpeg,"Networking, also known as computer networking,...",ha2MDiz,####,book/n12.pdf,False
24,25,25,3,3,agaga,2023-04-17 05:05:18.994562+00:00,3,Computer Network( Beginners Guide),Kevin Morgan,QQhztfJr4qcJ7,#######,book_image/n13.jpeg,"Networking, also known as computer networking,...",6FcABK4,2006,book/n13.pdf,False
25,26,13,2,3,agaga,2023-04-17 05:05:36.869488+00:00,3,Guide to Computer Security,Joseph Migga Kiza,kUwCij6ZsOf9i,#########,book_image/n14.jpeg,"Networking, also known as computer networking,...",RPrXxhE,####,book/n14.pdf,False
26,27,18,4,3,wfaewga,2023-04-17 05:05:50.741779+00:00,3,Black Hat Python,Joseph Migga Kiza,ih7JFcve05mMX,#########,book_image/n15.jpeg,"Networking, also known as computer networking,...",mhCkfBZ,2006,book/d15.pdf,False
27,28,26,3,3,agaga,2023-04-17 05:06:02.820312+00:00,1,Java Programming,Mr. Kotiyana Publishing,JoZGu8THPRzR4,######,book_image/p4.jpeg,"Networking, also known as computer networking,...",b6eiWgk,####,book/c4.pdf,False
28,29,34,3,3,agaga,2023-04-17 05:06:10.704920+00:00,1,Robot Programming(ROS),Grege Perry and Dean Miller,SLt19MXqXi17z,#######,book_image/p5.jpeg,C language is a system programming language be...,7hgizN4,####,book/c5.pdf,False
29,30,27,4,3,agaga,2023-04-17 05:06:21.394564+00:00,1,C Programming With Arduion,Mahesh A. Shah,zOBIm20GWQSbU,#######,book_image/p6.jpeg,C language Tutorial with programming approach ...,ez7d8zi,2010,book/c6.pdf,False
30,31,30,3,3,agaga,2023-04-17 05:06:30.949561+00:00,1,Computer Fundamentals and Programming in C,Reema Thareja,yzsdU3n8mb8PG,#######,book_image/p7.jpeg,C language Tutorial with programming approach ...,Vdfdkix,2002,book/c7.pdf,False
31,32,22,3,3,agagaw,2023-04-17 05:06:51.873620+00:00,1,C Programming (Absolute Beginners Guide),Gorg Parry,jlJX2NOAIhX4Z,#######,book_image/p8.jpeg,C language Tutorial with programming approach ...,5Jbn4XA,2000,book/c8.pdf,False
32,33,4,3,4,agaga\r\n,2023-04-17 05:07:18.435732+00:00,1,Practical C++ Programming,"R. Pandye, C. Arora",LR8bCfEK5g99N,#########,book_image/p9.jpeg,C language Tutorial with programming approach ...,tTjGuz3,2006,book/c9.pdf,False
33,34,5,3,4,asgaga,2023-04-17 05:07:30.411706+00:00,1,A Text Book of Java Programming,Willey,3Du8RtY8yeupe,#########,book_image/p10.jpeg,C language Tutorial with programming approach ...,aKUBxMD,####,book/c10.pdf,False

In [63]:
ratings_with_name.groupby('created_by_id').count()['rating']>5

created_by_id
1    False
2     True
3     True
4    False
Name: rating, dtype: bool